<p id="notice"><%= notice %></p>
<div class="row">
  <div class="large-24 center">
    <h1 class="home_title">
      <%= link_to 'Cantanti', root_path %>
    </h1>
    
    <ul id="singers_list">
      <% @singers.each do |singer| %>
        <li>
          <%= link_to singer.name, singer %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
